<div id="main-container" class="container">
  <div class="row">
    <div id="content" class="col-xs-12">
      <h1>Shopping List: </h1>
      <p>(grams/ml)</p>
      <hr>

      <% @plans.each do |ingredient|%>
        <p><%= ingredient['name'] %>  <%= ingredient['sum'] %></p>
      <% end %>
    </div>
  </div>
</div>